/* Created by Sam Bossley. All Rights Reserved. */

/*
@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

.box { @include transform(rotate(30deg)); }
*/
$green: #50958a;
$white: #fff;
$gray: #444;

html, body {
  height: 100%;
  min-height: 100%;
  color: $gray;
  font-family: 'Montserrat', sans-serif;

}

#content-menu {
  height: 100%;
  width: 100%;
  background-color: red;
}

#content-main {
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  background-color: blue;
}

#main-menu {

}

.page {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

/*
 * INDEX.HTML
 */

#landing-page {

}

.project-page {

}
/*
#projects-page {
  min-width: 100%;
  background-color: $green;
}

.project {
  background-color: $white;
}
*/
