/* Created by Sam Bossley. All Rights Reserved. */

/*
 * VARIABLES
 */

$green: #50958a;
$white: #fff;
$gray: #444;
$lightgray: #999;
$darkgray: #222;

$titleglitchcolor1: aqua;
$titleglitchcolor2: red;

$glitchcolor1: lightgreen;
// aqua
$glitchcolor2: indianred;
// red

$project-1: "../assets/img/maasu";
$project-2: "../assets/img/maasu";
$project-3: "../assets/img/maasu";
$project-4: "../assets/img/aev";

/*
 * MIXINS
 */

@mixin glitch1() {
  position: relative;
  //background-color: $gray;

  $nTop: 23%;
  $nBot: 50%;

  &::before, &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  &::before {
    text-shadow: -4px 0 0 $glitchcolor1;
  }
  &::after {
    text-shadow: 4px 0 0 $glitchcolor2;
  }
  &:hover::before {
    left: -2px;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% $nTop, 0 $nTop);
            clip-path: polygon(0 0, 100% 0, 100% $nTop, 0 $nTop);
  }
  &:hover::after {
    left: 2px;
    opacity: 1;
    -webkit-clip-path: polygon(0 $nBot, 100% $nBot, 100% 100%, 0 100%);
            clip-path: polygon(0 $nBot, 100% $nBot, 100% 100%, 0 100%);
  }

}

@mixin glitch2($bgcolor, $fontcolor) {
  position: relative;

  $mTop: 50%;
  $mBot: 50%;
  $offset: 10;

  &::before, &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    background: $bgcolor;
    color: $fontcolor;
  }
  &:hover::before {
    left: -$offset+px;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% $mTop, 0 $mTop);
            clip-path: polygon(0 0, 100% 0, 100% $mTop, 0 $mTop);
  }
  &:hover::after {
    left: $offset+px;
    opacity: 1;
    -webkit-clip-path: polygon(0 $mBot, 100% $mBot, 100% 100%, 0 100%);
            clip-path: polygon(0 $mBot, 100% $mBot, 100% 100%, 0 100%);
  }
}

@mixin title-glitch($fontcolor, $bgcolor) {
  position: relative;

  &::before, &::after {
      content: attr(data-text);
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      color: $fontcolor;
      z-index: -1;
      background: $bgcolor;
  }

  &::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
            clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    }

  &::after {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
            clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }

  &:hover::before {
    z-index: 1;
    text-shadow: -2px 0 0 $titleglitchcolor1;
    -webkit-animation: nameTitleTop 2s linear;
            animation: nameTitleTop 2s linear;
  }

  &:hover::after {
    z-index: 1;
    text-shadow: 2px 0 0 $titleglitchcolor2;
    -webkit-animation: nameTitleBot 2s linear;
            animation: nameTitleBot 2s linear;
  }
}

/*
 * MENU
 */

#main-menu {

  a {
    font-size: 4rem;
  }
  a li {
    margin: 0;

    @include glitch2($gray, $green);
  }

  a:hover li {
    color: $green;
  }
}

label[for='menu-button'] {
  font-size: 3rem;
}

/*
 * INDEX.HTML
 */

#landing-page .project-background {
  background-image: none;
  //background-image: url("../assets/img/sambossley.jpg");
}

.name-title {
  @include title-glitch($gray, $white);
}

#project-1 .project-background {
  background-image: url($project-1+".jpg");
}

#project-2 .project-background {
  background-image: url($project-2+".jpg");
}

#project-3 .project-background {
  background-image: url($project-3+".jpg");
}

#project-4 .project-background {
  background-image: url($project-4+".jpg");
}

.project-number {
  opacity: 1;
}

@supports not (clip: rect(auto, auto, auto, auto)) {
  .project-number {
    opacity: 1;
  }
}

@supports not (-webkit-clip:rect(auto, auto, auto, auto)) {
  .project-number {
    opacity: 1;
  }
}

.project-title span {
      @include glitch1();
}

/*
 * CONTACT
 */

#contact-container {
    em {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      margin: 1.5rem 0;
    }

}

#about .title span {
  @include title-glitch($gray, $white);
}

/*
 * ANIMATIONS
 */

@-webkit-keyframes nameTitleTop {
  0% { left: 0 }
  5% { left: 0 }
  6% { left: -100px }
  10% { left: -100px }
  11% { left: 0 }
  16% { left: 0 }
  17% { left: -20px }
  20% { left: -20px }
  21% { left: 3px }
  23% { left: 3px }
  24% { left: -37px }
  28% { left: -37px }
  29% { left: -3px }
  100% { left: -3px }
}

@keyframes nameTitleTop {
  0% { left: 0 }
  5% { left: 0 }
  6% { left: -100px }
  10% { left: -100px }
  11% { left: 0 }
  16% { left: 0 }
  17% { left: -20px }
  20% { left: -20px }
  21% { left: 3px }
  23% { left: 3px }
  24% { left: -37px }
  28% { left: -37px }
  29% { left: -3px }
  100% { left: -3px }
}

@-webkit-keyframes nameTitleBot {
  0% { left: 0 }
  1% { left: 5px }
  3% { left: 0 }
  10% { left: 0 }
  11% { left: 50px }
  16% { left: -60px }
  17% { left: 0 }
  30% { left: 0 }
  31% { left: 14px }
  100% { left: 14px }
}

@keyframes nameTitleBot {
  0% { left: 0 }
  1% { left: 5px }
  3% { left: 0 }
  10% { left: 0 }
  11% { left: 50px }
  16% { left: -60px }
  17% { left: 0 }
  30% { left: 0 }
  31% { left: 14px }
  100% { left: 14px }
}
