---
layout: layouts/main
title: About
---

<section>
  <h1>About Me</h1>

  <p>Hello, I'm Sam! I'm a software engineer in San Jose, CA.</p>

  <p>In my freetime I enjoy writing, reading, creating art, making music, memes, and gaming.</p>

  <p>I love all things UNIX, POSIX, and Libre. <a href="https://reddit.com/r/linuxmemes/comments/9xgfxq/why_i_use_arch_btw/">(I use arch btw)</a></p>

  <p>Connect with me :)</p>
</section>

<section>
  <nav class="about">
    <ul>
      <li><a href="mailto:bossley.samuel@gmail.com">Email</a></li>
      <li><a href="/Sam_Bossley.pdf">Resume</a></li>
      <li><a href="https://github.com/bossley9">Github</a></li>
      <li><a href="https://mas.to/@bossley9">Mastodon</a></li>
      <li><a href="https://www.instagram.com/samaraikun/">Instagram</a></li>
      <li><a href="https://soundcloud.com/sambossley">Soundcloud</a></li>
    </ul>
  </nav>
</section>
