:root {
    --bg: #7baaf7;
    --bg1: #3b85ff;
    --fg: #333;
    --mid: #fbfbfb;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0 1em;
    color: var(--fg);
    background: var(--bg);
    font-size: 24pt;
}

.name {
    margin: 0;
    color: var(--mid);
    font-family: 'Bangers';
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 5em;
    text-shadow: -2px -2px 0 var(--fg),
                 2px -2px 0 var(--fg),
                 -0.08em 0.08em 0 var(--fg),
                 2px 2px 0 var(--fg);
}

.links {
    list-style-type: none;
    padding: 0;
    font-family: 'Bangers';
}

.links a {
    text-decoration: none;
    font-size: 4em;
    color: var(--bg1);
    transition: all 0.1s;
}

.links a:hover {
    text-shadow: -2px -2px 0 var(--fg),
                 2px -2px 0 var(--fg),
                 -0.08em 0.08em 0 var(--fg),
                 2px 2px 0 var(--fg);
}

@media screen and (max-width: 900px) {
    .links a {
        font-size: 6em;
    }
}
