
@import 'util';

// older browser support

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

// global styles

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Helvetica, Verdana, Arial;
  font-size: 100%;
  color: $color;
  background-color: $background-color;

  padding: 0 0.4em;
}

#skrollr-body {
  height: 100%;

  -ms-touch-action: none;
      touch-action: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.157em;
  color: $white;
  text-shadow:
    -1px -1px 0 $color,
     1px -1px 0 $color,
    -0.1em 0.1em 0 $color,
     1px 1px 0 $color;
}

.project-title {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.outline {
  font-weight: 700;
  color: $background-color;
  text-shadow:
    -1px -1px 0 $color,
     1px -1px 0 $color,
    -1px 1px 0 $color,
     1px 1px 0 $color;
}

.polka-dot {
  background:
    radial-gradient(rgba(0, 0, 0, 0.1) 45%, rgba(0, 0, 0, 0) 46%);
  background-position: 0 0, 80px 80px;
  background-size:8px 8px, 8px 8px, cover;
}
.polka-dot.light {
  background:
    radial-gradient(rgba(255, 255, 255, 0.1) 45%, rgba(0, 0, 0, 0) 46%);
    background-position: 0 0, 80px 80px;
    background-size:8px 8px, 8px 8px, cover;
}

.striped {
  // $sizeBG + $sizeStripe = $total
  $sizeBG: 15;
  $sizeStripe: 3;
  $total: $sizeBG + $sizeStripe;
  $stripeColor: rgba(50, 50, 50, 0.3);
  background: repeating-linear-gradient(
    45deg,
    transparent, transparent $sizeBG + px,
    $stripeColor $sizeStripe + px,
    $stripeColor $total + px
  );
}

a { color: $color }
a:hover {
  color: $color;
  text-decoration: underline;
}

img { font-size: 0.8rem }

section, article {
  height: 100%;
  width: 100%;
}

.textbox {
  position: relative;
  // display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  text-transform: uppercase;
  font-style: italic;
  background-color: $white;
  -webkit-box-shadow:
    -1px -1px 0 $color,
     1px -1px 0 $color,
    -0.3em 0.3em 0 $color,
     1px 1px 0 $color;
  box-shadow:
    -1px -1px 0 $color,
     1px -1px 0 $color,
    -0.3em 0.3em 0 $color,
     1px 1px 0 $color;

  padding: 1em;
  margin: 1em;
}

.textbox.connected::after {
  position: absolute;
  top: 100%; left: 1em;
  height: 1em;
  width: 2px;

  content: '';
  background-color: $color;
}

.textbox.right:nth-child(1) { margin: 1em 0 }
.textbox.right { margin: 0 0 1em 0 }

.textbox.connected.right::after {
  left: auto; right: 1em;
}

.panel { padding: 0 1em }
.panel > div {
  position: relative;
  padding-top: 150%;

  > div {
    position: absolute;
    top: 0; bottom: 0;
    left:0; right: 0;

    border: 1.5px solid $color;
  }

  > div > div { position: relative }

  b {
    font-size: 1.5em;
    color: $color2nd;
    text-shadow:
      -1px -1px 0 $color,
       1px -1px 0 $color,
      -1px 1px 0 $color,
       1px 1px 0 $color;
  }

  em { font-weight: 700 }

  p {
    background-color: $white;
    font-style: italic;
    text-transform: uppercase;

    border-bottom: 1.5px solid $color;
    padding: 0 1em;
  }

}
.panel.blue > div { background-color: $blue }
.panel.orange > div { background-color: $orange }
.panel.pink > div { background-color: $pink }

// main

#main {

  .name { font-size: 1.2em }

  .art {
    position: relative;
    //temp for visualizing the box
    // border: 1px solid red;

    padding: 1em;

    i { text-transform: uppercase }

    i b {
      @extend .outline;
      color: $white;
      letter-spacing: 0.1em;
    }

  }

  .menu {
    font-size: 0.8em;
    text-transform: uppercase;
  }

}

#portfolio {
  min-height: 100%;
  height: auto;

  .project {
    margin: 4em 0;
  }

  .project-title {
    @extend .outline;

    font-size: 1.953em;
    word-wrap:break-word;

    strong {
      color: $color;
    }
  }

  blockquote {
    border: none;
    p { color: $color }

    margin: 0;
    padding: 0;
  }

  .project-details {
    padding: 1em;
  }

}

.credit { font-size: 0.7rem }
