
@import 'util';

@media (min-width: 767px) { // tablet

}

@media (min-width: 979px) { // desktop

body { padding: 0 6em }

.project-title::after {
  content: attr(data-name);

  position: absolute;
  top: 50%;
  right: 0;

  color: $color;
  font-size: 3em;
  opacity: 0.1;

  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#main {

  .name { font-size: 1.5em }

  .art {
    border: 1px solid $color;
    background-color: $background-color;
  }
  .art::before {
    position: absolute;
    bottom: -1em; left: -1em;
    height: 100%;
    width: 100%;

    content:"";
    border: 2px dashed rgba(0, 0, 0, 0.3);

    z-index: -1;
  }

  .menu {
    font-size: inherit;
    width: 100%;
  }

}

#portfolio {

  .project-title { font-size: 3.815em }

}

}

@media (min-width: 1200px) { // large desktop

}
