
// global variables

$black: #000;
$blue: #01939A;
$brown: #C67100;
$gold: #ffd700;
$gray: #222;
$orange: #FF7600;
$peach: #FFAA39;
$pink: #D53084;
$red: #e54a3a;
$white: #fff;


$background-color: $gold;
$color: $gray;

$color2nd: $blue;
$color3rd: $orange;
$color4th: $pink;
$color5th: $brown;
