
// global variables

$white: #fff;
$gold: #ffd700;
$gray: #222;
$blue: #01939A;
$orange: #FF7600;
$pink: #D53084;
$brown: #C67100;
$peach: #FFAA39;

$background-color: $gold;
$color: $gray;

$color2nd: $blue;
$color3rd: $orange;
$color4th: $pink;
$color5th: $brown;
