
// global variables

$white: #fff;
$gold: #ffd700;
$gray: #222;
$blue: #01939A;
$orange: #FF7600;
$pink: #D53084;
$brown: #C67100;

$background-color: $gold;
$color: $gray;

$color2nd: $blue;
$color3rd: $orange;
$color4th: $pink;
$color5th: $brown;

// $colorSec: #FF9200; // orange
// $colorSec-0: #FFAA39; // peach
// $colorSec-1: #C67100; // brown
// $colorSec-2: #9B5900;
// $colorSec-3: #4C2B00;
// $colorSec-4: #2C1900;
