@import 'src/util';

.textbox {
  position: relative;
  width: 50%;
  padding: 0.4em 2em;
  
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5em;
  
  border: 4px solid var(--palette-foreground);
  box-shadow: -6px 6px 0 var(--palette-foreground);
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;

    background-image: radial-gradient(rgba(0,0,0,0.1) 45%, rgba(0,0,0,0) 44%);
    background-position: 0 0, 100% 100%;
    background-size: 6px 6px, 6px 6px, cover;

    z-index: -1;
    transform: rotate(-2deg);
  }

}

// media

@media #{$sm-down} {

.textbox {
  width: 90%;
  padding: 0.4em;
}

}