$scale: 2;

h1, h2, h3, h4, h5, h6, em {
  font-family: var(--typography-fontFamily-primary);
  font-weight: 400;
  letter-spacing: 0.1em;
  text-shadow: -2px -2px 0 var(--palette-foreground),
                2px -2px 0 var(--palette-foreground),
               -0.08em 0.08em 0 var(--palette-foreground),
                2px 2px 0 var(--palette-foreground);
}

h1, .sub1, .subtitle1 {
  font-size: calc(3.052em * #{$scale});
}

h2, .sub2, .subtitle2 {
  font-size: calc(2.441em * #{$scale});
}

h3, .sub3, .subtitle3 {
  font-size: calc(1.953em * #{$scale});
}

h4, .sub4, .subtitle4 {
  font-size: calc(1.563em * #{$scale});
}

h5, .sub5, .subtitle5 {
  font-size: calc(1.25em * #{$scale});
}

h6, .sub6, .subtitle6 {
  font-size: calc(1em * #{$scale});
}

.sub, .subtitle {
  font-family: var(--typography-fontFamily-primary);
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0;
}

em, .styled {
  font-weight: bold;
  font-style: normal;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-fill-color: transparent;
}

.capitalized {
  text-transform: uppercase;
}