@import 'src/util';

$vPadding: calc(#{$spacing} / 8);
$border: 2px solid $color;

.title {
  display: block;
  width: 100%;
  height: 1em;
  font-size: 1.7em;
}

.container {
  width: 100%;
  height: 50%;
  display: table;

  img { width: 100% }

  ul {
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    padding: 0;
  }

  a {
    color: initial;
    text-decoration: none;
    transition: 0.1s;
  }

  a:hover, a:active { color: $color-2 }

  li:last-child { padding-bottom: calc(#{$vPadding} + #{$spacing}) }

  .link {
    width: 100%;
    border-bottom: $border;
  }

  .link > * { vertical-align: middle }

  .link svg {
    font-size: 1.5em;
    padding: $vPadding;
  }
}

@media #{$md-up} {
  .title { font-size: 2.2em }
}

@media #{$lg-up} {

  $img-width: 40%;

  .title { font-size: 2.5em }

  .container:first-child { width: $img-width }

  .container:last-child { width: calc(100% - #{$img-width}) }

  .container {
    width: 50%;
    height: 100%;
    float: left;

    .imgContainer {
      position: relative;
      display: table-cell;
      vertical-align: middle;
    }

    li:first-child .link { border-top: $border }

    li:last-child { padding-bottom: $vPadding }

    .link { 
      width: 80%;
      margin: 0 auto;
    }

  }

}