body, html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;

  font-family: var(--typography-fontFamily-secondary);
  font-size: var(--typography-fontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--palette-background);
  color: var(--palette-foreground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root, .App {
  height: 100%;
  width: 100%;
}