@import 'src/util';

body, html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Times;
  font-size: 16pt;
  background-color: $background-color;
  color: $color;
}

$margin: $spacing;

#root {
  position: relative;
  top: $margin;
  left: $margin;
  height: calc(100% - calc(#{$margin} * 2));
  width: calc(100% - calc(#{$margin} * 2));
}